

/* font-family: 'Kumbh Sans', sans-serif; */


body {
    background-color: var(--background-color);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-card);
    
}

.profile-card {
    padding: 1em 0;
    margin: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;    
    width: 300px;
    background-color: #fff;
    border-radius: 12px;
}

.profile-card img {
    width: 35%;
    padding: 1em 0;
}

.profile-card .texto {
    margin-top: .7em;
}

.dados-conta {
    display: flex;
    flex: 1;
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid var(--text-color);
}

.dados-conta .info {
    margin: .8em;
    flex-wrap: wrap;
    text-align: center;
}

.info .counter {
    font-weight: bold;
}

span {
    color: var(--text-color)
}

span:nth-child(n+2) {
    font-weight: normal;
}